.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
}

a {
  color: green;
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-List {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.App-List > ul {
  flex: auto;
  display: flex;
  justify-content: space-around;
}

.App-List > ul > li {
  display: inline-block;
}

.router-selected {
  color: white;
}
/*.not-selected {
  color: white;
}*/



.App-header {
  background-color: #222;
  /*height: 150px;*/
  width: 100%;
  padding: 20px;
  color: white;
  flex: auto;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
