.App {
  text-align: center;
  height: 100%;
  /*width: 100vw;*/
  display: flex;
  /*justify-content: space-between;
  flex-flow: row wrap;*/
}

a {
  color: green;
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-List {
  display: flex;
  flex-flow: row;
}

.App-List > ul {
  /*flex: auto;*/
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  /*justify-content: space-between;*/
}

.App-List > ul > li {
  display: inline-block;
  margin: 10px;
  float: left;
}

.router-selected {
  color: white;
}
/*.not-selected {
  color: white;
}*/



.App-header {
  background-color: #222;
  /*height: 150px;*/
  width: 100%;
  padding: 20px;
  color: white;
  flex: auto;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
