.DS_Store
iomodel/.DS_Store
iomodel/pickles/.DS_Store
iomodel/test/.DS_Store


.cache/
*.pyc
iomodel/__pycache__/
iomodel/test/__pycache__/
temp/

iomsite/__pycache__/
iomsite/secrets.py

dash/__pycache__/
dash/migrations/__pycache__/
