.DS_Store
iomodel/.DS_Store
iomodel/pickles/.DS_Store
iomodel/test/.DS_Store


.cache/
*.pyc
iomodel/__pycache__/
iomodel/test/__pycache__/
temp/

iomsite/__pycache__/
iomsite/secrets.py

dash/__pycache__/
dash/migrations/__pycache__/

# dependencies
client/src/node_modules

# testing
client/src/coverage

# production
client/src/build

# misc
client/src/.DS_Store
client/src/.env.local
client/src/.env.development.local
client/src/.env.test.local
client/src/.env.production.local

client/src/npm-debug.log*
client/src/yarn-debug.log*
client/src/yarn-error.log*
