container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
      command: "python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "iomsite.settings"
    PYTHONPATH: "./lion"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "lion/iomsite/wsgi.py"
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"


packages:
  yum:
    postgresql95-devel: []
