.Button {
  flex: 1;
  width: 100%;
  /*height: 5%;*/
  border-top: 0;
  border-right: 0;
  border-left: 0;
  /*border-bottom: 0;*/
  border-bottom: 1px solid green;
  background-color: black;
  color: #00f2b1;
  font-size: 15px;
  padding: 1em;
  padding-right: 0;
  cursor: cell;

  /*flex: auto;*/
  align-self: flex-start;

}

/*.Button:active {
  outline: 1px solid white;
}*/
.Button:focus {
  outline: 0;
}

.Button:active {
  color: white;
}
