.Controller {
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  /*border: 1px solid pink;*/
  align-self: flex-end;
  margin-right: 20px;
  /*justify-content: center;*/
  /*height: 100vh;*/
}

.Graph {
  display: flex;
}


.Sidebar {
  width: 250px;
  border-top: 1px solid green;
  border-bottom: 1px solid green;
  border-right: 1px solid green;
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  align-self: flex-start;
}
