.Form {
  display: flex;
  flex-flow: column wrap;
}

.Form input[type='submit'] {
  visibility: hidden;
  position: absolute;
  /*margin-top: 1em;*/
}

.Input {
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  /*border-bottom: 0;*/
  border-bottom: 1px dashed grey;
  background-color: black;
  color: white;
  padding: 1em;
  padding-right: 0;
  cursor: crosshair;
  /*flex: auto;*/
}
